.about
  .about__wrapper
    .about__story
      h4.about__story__title(data-animation=assets.about.story.content.body.animation)!=assets.about.story.content.body.text
      button.about__story__cta.button!=assets.about.story.content.button.text

    .about__certDist
      .about__certDist__content
        h5.certDist__content__text(data-animation=assets.about.certDist.content.body.animation)!=assets.about.certDist.content.body.text
        h2.certDist__content__title(data-animation=assets.about.certDist.content.title.animation)!=assets.about.certDist.content.title.text
      figure.about__certDist__media
        img.about__certDist__media__image(alt=assets.about.certDist.content.image.alt data-src=assets.about.certDist.content.image.url)
