.home.home--active
  .home__wrapper
    .home__hero
      h1.home__hero__title Workspaces that inspire, wherever you work.
      .home__hero__gallery
        each row in [0, 1]
          each media, index in assets.home.hero.gallery
            figure.hero__gallery__media(class=`hero__gallery__media--${index + 1}`)
              img.hero__gallery__media__img(alt=media.image.alt data-src=media.image.url)
      .home__hero__bottom
        svg.millerKnollLogo(width="192" height="20" viewBox="0 0 192 20" fill="none")
          g(clip-path="url(#clip0_2_2518)")
            path(d="M74.6869 0.379395H70.8078L62.9193 9.6842L71.0223 19.5037H74.9227V19.5003L66.7658 9.6761L74.6869 0.379395Z" fill="#131313")
            path(d="M22.6244 0.115723C21.6271 0.115723 20.8151 0.952044 20.8151 1.97923C20.8151 3.00641 21.6271 3.84273 22.6244 3.84273C23.6217 3.84273 24.4337 3.00641 24.4337 1.97923C24.4337 0.952044 23.6228 0.115723 22.6244 0.115723Z" fill="#131313")
            path(d="M24.1271 5.15674H21.1228V19.5038H24.1271V5.15674Z" fill="#131313")
            path(d="M29.4156 0.379395H26.4114V19.5037H29.4156V0.379395Z" fill="#131313")
            path(d="M34.7042 0.379395H31.7V19.5037H34.7042V0.379395Z" fill="#131313")
            path(d="M39.1954 10.9777C39.3661 9.1454 40.5947 7.27843 43.0094 7.27843C45.141 7.27843 46.4707 8.62256 46.6919 10.9777H39.1954ZM43.0094 4.7417C38.9842 4.7417 36.1732 7.85564 36.1732 12.3137C36.1732 16.7718 39.037 19.8857 43.1374 19.8857C46.8918 19.8857 48.8595 17.5896 49.448 15.4404L49.5434 15.0933H46.3258L46.2798 15.3073C46.1158 16.0662 45.2701 17.349 43.1374 17.349C40.7744 17.349 39.3818 15.4242 39.1954 13.5167H49.7153V12.9777C49.7153 11.7053 49.5636 10.5532 49.2649 9.55142C48.3103 6.44904 46.0888 4.7417 43.0094 4.7417Z" fill="#131313")
            path(d="M54.1885 6.76685V5.15668H51.1842V19.5037H54.1885V11.0028C54.1885 8.86518 55.0712 7.82643 56.8861 7.82643H58.491V4.89062H57.5296C56.0168 4.89062 54.8668 5.72695 54.1885 6.76685Z" fill="#131313")
            path(d="M99.7259 12.3125C99.7259 15.6983 97.6718 17.2148 95.6367 17.2148C93.6017 17.2148 91.5476 15.6995 91.5476 12.3125C91.5476 8.92678 93.6017 7.41029 95.6367 7.41029C97.6718 7.41145 99.7259 8.92678 99.7259 12.3125ZM95.6367 4.7417C91.46 4.7417 88.5434 7.85564 88.5434 12.3137C88.5434 16.7718 91.46 19.8857 95.6367 19.8857C99.8135 19.8857 102.73 16.7718 102.73 12.3137C102.73 7.85448 99.8135 4.7417 95.6367 4.7417Z" fill="#131313")
            path(d="M107.018 0.379395H104.014V19.5037H107.018V0.379395Z" fill="#131313")
            path(d="M112.308 0.379395H109.303V19.5037H112.308V0.379395Z" fill="#131313")
            path(d="M77.9831 19.5039V11.401C77.9831 8.98685 79.3454 7.42756 81.4534 7.42756C83.3907 7.42756 84.2544 8.40732 84.2544 10.604V19.5028H87.2586V10.3391C87.2586 6.74046 85.4257 4.75781 82.0981 4.75781C80.4078 4.75781 78.9501 5.37435 77.9831 6.47325V5.15689H74.9789V19.5004V19.5039H77.9831Z" fill="#131313")
            path(d="M14.9931 0.376953L9.48438 13.2098L3.95098 0.376953H0V19.5059H2.99862V10.8709C2.99862 9.03976 2.99862 7.29078 2.86609 5.35093H2.99862C3.60845 7.29078 4.13966 8.52039 4.96175 10.1884L9.41925 19.6979L13.8767 10.1884C14.6988 8.52155 15.1773 7.29193 15.8668 5.35093H15.9994C15.814 7.29078 15.814 9.03976 15.814 10.8709V19.5059H18.8385V0.376953H14.9931Z" fill="#131313")
            path(d="M62.9193 0.379395H59.8185V19.5037H62.9193V0.379395Z" fill="#131313")
          path(d="M190.382 8.66033V2.84033H191.682V17.1403H190.382V15.4803H190.342C189.762 16.4803 188.682 17.4003 186.902 17.4003C184.422 17.4003 182.422 15.4003 182.422 12.0403C182.422 8.70033 184.422 6.70033 186.902 6.70033C188.682 6.70033 189.742 7.58033 190.342 8.66033H190.382ZM187.062 16.2603C189.022 16.2603 190.382 14.6203 190.382 12.0403C190.382 9.48033 189.022 7.84033 187.062 7.84033C184.942 7.84033 183.782 9.76033 183.782 12.0403C183.782 14.3403 184.942 16.2603 187.062 16.2603Z" fill="#131313")
          path(d="M181.139 11.5802C181.139 11.8602 181.139 12.1402 181.119 12.3002H173.039C173.059 14.3602 174.159 16.3002 176.559 16.3002C178.659 16.3002 179.479 14.8602 179.679 14.0202H180.999C180.499 15.8802 179.099 17.4202 176.539 17.4202C173.419 17.4202 171.679 15.1402 171.679 12.0402C171.679 8.78018 173.599 6.68018 176.539 6.68018C179.479 6.68018 181.139 8.74018 181.139 11.5802ZM173.039 11.1602H179.759C179.759 9.34018 178.579 7.80018 176.479 7.80018C174.499 7.80018 173.139 9.26018 173.039 11.1602Z" fill="#131313")
          path(d="M163.816 6.94021V5.44021C163.816 3.22021 164.696 2.72021 166.156 2.72021C166.436 2.72021 166.676 2.74021 167.136 2.80021V3.90021C166.776 3.88021 166.616 3.86021 166.336 3.86021C165.356 3.86021 165.116 4.16021 165.116 5.42021V6.94021H167.136V8.08021H165.116V17.1402H163.816V8.08021H162.376V6.94021H163.816ZM168.336 4.90021V3.22021H170.016V4.90021H168.336ZM169.816 17.1402H168.516V6.94021H169.816V17.1402Z" fill="#131313")
          path(d="M160.985 4.90022H159.305V3.22021H160.985V4.90022ZM160.805 17.1402H159.505V6.94022H160.805V17.1402Z" fill="#131313")
          path(d="M157.819 6.94004V8.08004H155.759V14.52C155.759 15.78 156.039 16.08 157.039 16.08C157.359 16.08 157.519 16.06 157.819 16.04V17.14C157.419 17.2 157.179 17.22 156.859 17.22C155.379 17.22 154.459 16.72 154.459 14.5V8.08004H152.959V6.94004H154.459V3.54004H155.759V6.94004H157.819Z" fill="#131313")
          path(d="M151.635 6.7002C151.995 6.7002 152.275 6.7202 152.515 6.76019V8.0402C152.315 8.0002 152.095 7.9802 151.895 7.9802C150.055 7.9802 148.695 9.4602 148.695 11.4402V17.1402H147.395V6.9402H148.695V9.0202H148.735C149.255 7.68019 150.195 6.7002 151.635 6.7002Z" fill="#131313")
          path(d="M145.573 11.5802C145.573 11.8602 145.573 12.1402 145.553 12.3002H137.473C137.493 14.3602 138.593 16.3002 140.993 16.3002C143.093 16.3002 143.913 14.8602 144.113 14.0202H145.433C144.933 15.8802 143.533 17.4202 140.973 17.4202C137.853 17.4202 136.113 15.1402 136.113 12.0402C136.113 8.78018 138.033 6.68018 140.973 6.68018C143.913 6.68018 145.573 8.74018 145.573 11.5802ZM137.473 11.1602H144.193C144.193 9.34018 143.013 7.80018 140.913 7.80018C138.933 7.80018 137.573 9.26018 137.473 11.1602Z" fill="#131313")
          path(d="M128.868 17.4001C124.988 17.4001 122.308 14.3401 122.308 10.0001C122.308 5.68008 124.968 2.58008 128.888 2.58008C132.228 2.58008 134.408 4.72008 134.768 7.40008H133.248C132.968 5.80008 131.788 3.86008 128.868 3.86008C125.408 3.86008 123.828 6.80008 123.828 10.0001C123.828 13.2001 125.428 16.1201 128.868 16.1201C131.888 16.1201 133.148 14.0401 133.308 12.0601H134.828C134.488 15.1801 132.268 17.4001 128.868 17.4001Z" fill="#131313")
        p.hero__bottom__subtext From iconic designs to tailored solutions, Möbel brings the best of MillerKnoll to businesses and homes across Quebec.
        a.hero__bottom__link(data-animation="paragraph" href="/products")
          span.bottom__link__text See our products
          svg.bottom__link__svg(width="22" height="8" viewBox="0 0 22 8" fill="none")
            path(d="M21.4346 4.03553C21.6299 3.84027 21.6299 3.52368 21.4346 3.32842L18.2527 0.146441C18.0574 -0.048821 17.7408 -0.048821 17.5455 0.146441C17.3503 0.341703 17.3503 0.658286 17.5455 0.853548L20.374 3.68197L17.5455 6.5104C17.3503 6.70566 17.3503 7.02225 17.5455 7.21751C17.7408 7.41277 18.0574 7.41277 18.2527 7.21751L21.4346 4.03553ZM0 3.68198L5.75642e-08 4.18198L21.0811 4.18197L21.0811 3.68197L21.0811 3.18197L-5.75642e-08 3.18198L0 3.68198Z" fill="black")

    .home__about
      h2.home__about__title The MillerKnoll experience, brought to Quebec.
      button.home__about__cta.button
        span Learn more

    .home__products
      .home__products__header
        h3.products__header__title Everything you need for home & office
        a.products__header__link(data-animation='paragraph' href='/products#category')
          span Explore by category
          svg.bottom__link__svg(width="22" height="8" viewBox="0 0 22 8" fill="none")
            path(d="M21.4346 4.03553C21.6299 3.84027 21.6299 3.52368 21.4346 3.32842L18.2527 0.146441C18.0574 -0.048821 17.7408 -0.048821 17.5455 0.146441C17.3503 0.341703 17.3503 0.658286 17.5455 0.853548L20.374 3.68197L17.5455 6.5104C17.3503 6.70566 17.3503 7.02225 17.5455 7.21751C17.7408 7.41277 18.0574 7.41277 18.2527 7.21751L21.4346 4.03553ZM0 3.68198L5.75642e-08 4.18198L21.0811 4.18197L21.0811 3.68197L21.0811 3.18197L-5.75642e-08 3.18198L0 3.68198Z" fill="black")
      .home__products__slider
        each media, index in assets.home.products.slider
          .products__slider__category
            figure.slider__category__media(class=`slider__category__media--${index + 1}`)
              img.slider__category__media__img(alt=media.image.alt data-src=media.image.url)
            .slider__category__info
              p.category__info__title!=media.text.title
              p.category__info__description!=media.text.description

    .home__brands
      .home__brands__content
        h3.brands__content__title-left Only
          | The
        figure.brands__content__media__cards
          each brand in assets.home.brands.cards
            img.media__cards__img(alt=brand.image.alt data-src=brand.image.url)
            img.media__cards__logo(alt=brand.logo.alt data-src=brand.logo.url)
        h3.brands__content__title-right Best
          | Brands
      .home__brands__bottom
        svg.millerKnollLogo(width="192" height="20" viewBox="0 0 192 20" fill="none")
          g(clip-path="url(#clip0_2_2518)")
            path(d="M74.6869 0.379395H70.8078L62.9193 9.6842L71.0223 19.5037H74.9227V19.5003L66.7658 9.6761L74.6869 0.379395Z" fill="#131313")
            path(d="M22.6244 0.115723C21.6271 0.115723 20.8151 0.952044 20.8151 1.97923C20.8151 3.00641 21.6271 3.84273 22.6244 3.84273C23.6217 3.84273 24.4337 3.00641 24.4337 1.97923C24.4337 0.952044 23.6228 0.115723 22.6244 0.115723Z" fill="#131313")
            path(d="M24.1271 5.15674H21.1228V19.5038H24.1271V5.15674Z" fill="#131313")
            path(d="M29.4156 0.379395H26.4114V19.5037H29.4156V0.379395Z" fill="#131313")
            path(d="M34.7042 0.379395H31.7V19.5037H34.7042V0.379395Z" fill="#131313")
            path(d="M39.1954 10.9777C39.3661 9.1454 40.5947 7.27843 43.0094 7.27843C45.141 7.27843 46.4707 8.62256 46.6919 10.9777H39.1954ZM43.0094 4.7417C38.9842 4.7417 36.1732 7.85564 36.1732 12.3137C36.1732 16.7718 39.037 19.8857 43.1374 19.8857C46.8918 19.8857 48.8595 17.5896 49.448 15.4404L49.5434 15.0933H46.3258L46.2798 15.3073C46.1158 16.0662 45.2701 17.349 43.1374 17.349C40.7744 17.349 39.3818 15.4242 39.1954 13.5167H49.7153V12.9777C49.7153 11.7053 49.5636 10.5532 49.2649 9.55142C48.3103 6.44904 46.0888 4.7417 43.0094 4.7417Z" fill="#131313")
            path(d="M54.1885 6.76685V5.15668H51.1842V19.5037H54.1885V11.0028C54.1885 8.86518 55.0712 7.82643 56.8861 7.82643H58.491V4.89062H57.5296C56.0168 4.89062 54.8668 5.72695 54.1885 6.76685Z" fill="#131313")
            path(d="M99.7259 12.3125C99.7259 15.6983 97.6718 17.2148 95.6367 17.2148C93.6017 17.2148 91.5476 15.6995 91.5476 12.3125C91.5476 8.92678 93.6017 7.41029 95.6367 7.41029C97.6718 7.41145 99.7259 8.92678 99.7259 12.3125ZM95.6367 4.7417C91.46 4.7417 88.5434 7.85564 88.5434 12.3137C88.5434 16.7718 91.46 19.8857 95.6367 19.8857C99.8135 19.8857 102.73 16.7718 102.73 12.3137C102.73 7.85448 99.8135 4.7417 95.6367 4.7417Z" fill="#131313")
            path(d="M107.018 0.379395H104.014V19.5037H107.018V0.379395Z" fill="#131313")
            path(d="M112.308 0.379395H109.303V19.5037H112.308V0.379395Z" fill="#131313")
            path(d="M77.9831 19.5039V11.401C77.9831 8.98685 79.3454 7.42756 81.4534 7.42756C83.3907 7.42756 84.2544 8.40732 84.2544 10.604V19.5028H87.2586V10.3391C87.2586 6.74046 85.4257 4.75781 82.0981 4.75781C80.4078 4.75781 78.9501 5.37435 77.9831 6.47325V5.15689H74.9789V19.5004V19.5039H77.9831Z" fill="#131313")
            path(d="M14.9931 0.376953L9.48438 13.2098L3.95098 0.376953H0V19.5059H2.99862V10.8709C2.99862 9.03976 2.99862 7.29078 2.86609 5.35093H2.99862C3.60845 7.29078 4.13966 8.52039 4.96175 10.1884L9.41925 19.6979L13.8767 10.1884C14.6988 8.52155 15.1773 7.29193 15.8668 5.35093H15.9994C15.814 7.29078 15.814 9.03976 15.814 10.8709V19.5059H18.8385V0.376953H14.9931Z" fill="#131313")
            path(d="M62.9193 0.379395H59.8185V19.5037H62.9193V0.379395Z" fill="#131313")
          path(d="M190.382 8.66033V2.84033H191.682V17.1403H190.382V15.4803H190.342C189.762 16.4803 188.682 17.4003 186.902 17.4003C184.422 17.4003 182.422 15.4003 182.422 12.0403C182.422 8.70033 184.422 6.70033 186.902 6.70033C188.682 6.70033 189.742 7.58033 190.342 8.66033H190.382ZM187.062 16.2603C189.022 16.2603 190.382 14.6203 190.382 12.0403C190.382 9.48033 189.022 7.84033 187.062 7.84033C184.942 7.84033 183.782 9.76033 183.782 12.0403C183.782 14.3403 184.942 16.2603 187.062 16.2603Z" fill="#131313")
          path(d="M181.139 11.5802C181.139 11.8602 181.139 12.1402 181.119 12.3002H173.039C173.059 14.3602 174.159 16.3002 176.559 16.3002C178.659 16.3002 179.479 14.8602 179.679 14.0202H180.999C180.499 15.8802 179.099 17.4202 176.539 17.4202C173.419 17.4202 171.679 15.1402 171.679 12.0402C171.679 8.78018 173.599 6.68018 176.539 6.68018C179.479 6.68018 181.139 8.74018 181.139 11.5802ZM173.039 11.1602H179.759C179.759 9.34018 178.579 7.80018 176.479 7.80018C174.499 7.80018 173.139 9.26018 173.039 11.1602Z" fill="#131313")
          path(d="M163.816 6.94021V5.44021C163.816 3.22021 164.696 2.72021 166.156 2.72021C166.436 2.72021 166.676 2.74021 167.136 2.80021V3.90021C166.776 3.88021 166.616 3.86021 166.336 3.86021C165.356 3.86021 165.116 4.16021 165.116 5.42021V6.94021H167.136V8.08021H165.116V17.1402H163.816V8.08021H162.376V6.94021H163.816ZM168.336 4.90021V3.22021H170.016V4.90021H168.336ZM169.816 17.1402H168.516V6.94021H169.816V17.1402Z" fill="#131313")
          path(d="M160.985 4.90022H159.305V3.22021H160.985V4.90022ZM160.805 17.1402H159.505V6.94022H160.805V17.1402Z" fill="#131313")
          path(d="M157.819 6.94004V8.08004H155.759V14.52C155.759 15.78 156.039 16.08 157.039 16.08C157.359 16.08 157.519 16.06 157.819 16.04V17.14C157.419 17.2 157.179 17.22 156.859 17.22C155.379 17.22 154.459 16.72 154.459 14.5V8.08004H152.959V6.94004H154.459V3.54004H155.759V6.94004H157.819Z" fill="#131313")
          path(d="M151.635 6.7002C151.995 6.7002 152.275 6.7202 152.515 6.76019V8.0402C152.315 8.0002 152.095 7.9802 151.895 7.9802C150.055 7.9802 148.695 9.4602 148.695 11.4402V17.1402H147.395V6.9402H148.695V9.0202H148.735C149.255 7.68019 150.195 6.7002 151.635 6.7002Z" fill="#131313")
          path(d="M145.573 11.5802C145.573 11.8602 145.573 12.1402 145.553 12.3002H137.473C137.493 14.3602 138.593 16.3002 140.993 16.3002C143.093 16.3002 143.913 14.8602 144.113 14.0202H145.433C144.933 15.8802 143.533 17.4202 140.973 17.4202C137.853 17.4202 136.113 15.1402 136.113 12.0402C136.113 8.78018 138.033 6.68018 140.973 6.68018C143.913 6.68018 145.573 8.74018 145.573 11.5802ZM137.473 11.1602H144.193C144.193 9.34018 143.013 7.80018 140.913 7.80018C138.933 7.80018 137.573 9.26018 137.473 11.1602Z" fill="#131313")
          path(d="M128.868 17.4001C124.988 17.4001 122.308 14.3401 122.308 10.0001C122.308 5.68008 124.968 2.58008 128.888 2.58008C132.228 2.58008 134.408 4.72008 134.768 7.40008H133.248C132.968 5.80008 131.788 3.86008 128.868 3.86008C125.408 3.86008 123.828 6.80008 123.828 10.0001C123.828 13.2001 125.428 16.1201 128.868 16.1201C131.888 16.1201 133.148 14.0401 133.308 12.0601H134.828C134.488 15.1801 132.268 17.4001 128.868 17.4001Z" fill="#131313")
        p.brands__bottom__subtext From iconic designs to tailored solutions, Möbel brings the best of MillerKnoll to businesses and homes across Quebec.
        a.brands__bottom__link(data-animation="paragraph" href="/products#brand")
          span.bottom__link__text Explore by brand
          svg.bottom__link__svg(width="22" height="8" viewBox="0 0 22 8" fill="none")
            path(d="M21.4346 4.03553C21.6299 3.84027 21.6299 3.52368 21.4346 3.32842L18.2527 0.146441C18.0574 -0.048821 17.7408 -0.048821 17.5455 0.146441C17.3503 0.341703 17.3503 0.658286 17.5455 0.853548L20.374 3.68197L17.5455 6.5104C17.3503 6.70566 17.3503 7.02225 17.5455 7.21751C17.7408 7.41277 18.0574 7.41277 18.2527 7.21751L21.4346 4.03553ZM0 3.68198L5.75642e-08 4.18198L21.0811 4.18197L21.0811 3.68197L21.0811 3.18197L-5.75642e-08 3.18198L0 3.68198Z" fill="black")

    include ../../_includes/partials/footer.pug
